<poke-search (valueSearch)="getSearch($event)"></poke-search>
<section class="listagem">
<ng-template ngFor let-pokemon [ngForOf]="pokemonsListagem" *ngIf="pokemonsListagem">
  <a [routerLink]="['details', pokemon.info.id]" class="pokemon" >
    <section class="pokemon-card">
      <h2>
        {{pokemon.name}}
      </h2>
      <ul>
        <li *ngFor="let value of pokemon.info.types">
          {{value.type.name}}
        </li>
      </ul>
    </section>
    <section class="pokemon-image">
      <img [src]="pokemon.info.sprites.other.dream_world.front_default" [alt]="pokemon.name">
    </section>
  </a>
</ng-template>
<button class="btn-proximo" (click)="proximaListagemPokemons()">Proximo</button>
</section>
